<div class="top-row navbar navbar-dark navbar-nico">
    <div class="container-fluid">
        <a class="navbar-brand">Blazor API Task</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
      <h2 id="marquee">
    <marquee behavior="" direction="right">Nico Pico</marquee>
  </h2>
</div>

<div class="nav-menu">
    <ul>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="NumberValidation">
                <span class="bi-telephone" aria-hidden="true"></span> Number Validation
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="Search">
                <span class="bi-book-half" aria-hidden="true"></span> Number history
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}