@page "/"

<PageTitle>Home</PageTitle>
<div class="home-page">
  <h1 class="title-text-home">Hello and welcome to the site of Ponyo's</h1>
  
  <div class="box-home">
    <!-- Header for the section -->
    <h4 class="text-card-home-title">Short Information</h4>
    
    <!-- Horizontal alignment of text and card -->
    <div class="text-card-home">
      <!-- Left Text Content -->
      <div class="text-card-home-text">
        <p>
          Ponyo (崖の上のポニョ Gake no Ue no Ponyo), released in Japan as Ponyo on the Cliff,
          is the 16th animated film written and directed by Hayao Miyazaki and produced by Studio Ghibli.
          It was released by Toho on July 19, 2008, in theatres across Japan.
        </p>
        <p>
          It is Miyazaki's eighth film to be made under the studio, and his first feature-length
          film since Howl's Moving Castle released four years prior. The plot centers on a goldfish
          named Ponyo who desperately wants to be a human. In pursuing her goal, she befriends a
          five-year-old human boy, Sōsuke.
        </p>
        <p>
          The theme song for Ponyo was performed by Fujioka Fujimaki (famous duo Takaaki Fujioka and
          Naoya Fujimaki) and Nozomi Ohashi, who was only eight years old at the time of the film's
          production. The official website for Ponyo also opened on December 5, 2007. On March 6, 2008,
          producer Toshio Suzuki announced that Akiko Yano would be performing for the film as well.
        </p>
        <p>
          A two-part documentary about Ponyo was broadcast on NHK on March 27, 2007, and August 5,
          2008, How Ponyo Was Born, an extensive 12-hour and 30 minutes documentary was released
          on DVD on December 8, 2009, by Walt Disney Japan.
        </p>
        <p>
          The film is available for streaming on Max, and purchasable on most digital storefronts.
        </p>
        <p id="source-home-page">Source: <a href="https://ghibli.fandom.com/wiki/Ponyo">wiki Ponyo</a></p>
      </div>

      <!-- Right Card Content -->
      <div class="card-home">
        <div class="card-title-home">
          <h6>Ponyo</h6>
        </div>
        <div class="card-photo-home"></div>
        <div class="card-text-home">
          <p class="card-text-bold-home">Kanji</p>
          <p>崖の上のポニョ</p>
        </div>
        <div class="card-text-home">
          <p class="card-text-bold-home">Rōmaji</p>
          <p>Gake no Ue no Ponyo</p>
        </div>
        <div class="card-text-home">
          <p class="card-text-bold-home">Directed by</p>
          <p>Hayao Miyazaki</p>
        </div>
        <div class="card-text-home">
          <p class="card-text-bold-home">Produced by</p>
          <p>Toshio Suzuki</p>
        </div>
        <div class="card-text-home">
          <p class="card-text-bold-home">Written by</p>
          <p>Hayao Miyazaki</p>
        </div>
        <div class="card-text-home">
          <p class="card-text-bold-home">Starring</p>
          <p>Tomoko Yamaguchi</p>
          <p>Kazushige Nagashima</p>
          <p>Yūki Amami</p>
          <p>George Tokoro</p>
          <p>Yuria Nara</p>
          <p>Hiroki Doi</p>
          <p>Rumi Hiiragi</p>
          <p>Akiko Yano</p>
          <p>Kazuko Yoshiyuki</p>
          <p>Tomoko Naraoka</p>
        </div>
      </div>
    </div>
  </div>
</div>
